.hero-blobs {
  position: absolute;
  inset: 0;
  z-index: 0; /* above star bg, below content */
  pointer-events: none;
  overflow: hidden; /* hide overflow for cleaner edges */
}

.blob {
  position: absolute;
  will-change: transform;
  animation: blob-wave 2s ease-in-out infinite alternate; /* faster motion */
}

.blob-shape {
  position: relative;
  border-radius: 50%;
  opacity: 1;
  filter: blur(200px);
  -webkit-filter: blur(200px);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
  box-shadow: 0 0 200px 80px currentColor;
}

/* Blob variations */
.blob.ani-1 { animation-duration: 10s; }
.blob-shape.ani-1 {
  width: 500px;
  height: 500px;
  background: #6A24FF;
  color: #6A24FF;
  mix-blend-mode: screen;
}

.blob.ani-2 { animation-duration: 10s; }
.blob-shape.ani-2 {
  width: 400px;  
  height: 400px;
  background: #EEC646;
  color: #EEC646;
  mix-blend-mode: screen;
}

.blob.ani-3 { animation-duration: 10s; }
.blob-shape.ani-3 {
  width: 800px;
  height: 800px;
  background: #240C64;
  color: #240C64;
  mix-blend-mode: screen;
}

/* Faster, wider full-screen motion */
@keyframes blob-wave {
  0%   { transform: translate3d(-40vw, -40vh, 0) scale(1); }
  25%  { transform: translate3d(20vw, -10vh, 0) scale(1.1); }
  50%  { transform: translate3d(40vw, 10vh, 0) scale(1.05); }
  75%  { transform: translate3d(-20vw, 10vh, 0) scale(1.1); }
  100% { transform: translate3d(-40vw, -40vh, 0) scale(1); }
}

.star-animation {
  position: absolute;
  inset: 0;
  z-index: 0; /* above star bg, below content */
  pointer-events: none;
  overflow: hidden; /* hide overflow for cleaner edges */
  will-change: transform;
 
}

.star-animation img {
  scale: 1.5;
  animation: star-animation 10s ease-in-out infinite alternate;
}

@keyframes star-animation {
  0%   { transform: translate3d(0vw, 0vh, 0) scale(1) rotate(0deg); }
  50%  { transform: translate3d(0vw, 0vh, 0) scale(1.1) rotate(10deg); }
  100% { transform: translate3d(0vw, 0vh, 0) scale(1) rotate(0deg); }
}



